.editor {
  @include displayFlex(center);
  flex-direction: column;

  &__container {
    padding: 80px 55px 84px;
    width: 100%;
    max-width: 1110px;
  }

  &__header {
    @include displayFlex(flex-end);
  }
  &__heading {
    margin-right: 6px;
  }
  &__date {
    color: $color-grey;
    font-size: 13px;
  }
}